Usage: dfasma [options] [files...]
DFasma: A tool to analyse and compare audio files in time and frequency

Options:
  -h, --help        Displays this help.
  -v, --version     Displays version information.
  -g, --gtv <file>  Load <file> as generic time/value (guess the format)
  --gb32 <file>     Load <file> as generic time/value (32b float binary format)
  --gb64 <file>     Load <file> as generic time/value (64b float binary format)

Arguments:
  files             Files to load
