<footer class="inner">
<p>For bug repports or idea suggestions, raise an <a target="_blank"  href="https://gitlab.com/gillesdegottex/dfasma/issues">issue on GitLab <img width="16" style="box-shadow: none; margin-top:-4px" src="images/gitlab.png"/></a></p>
</footer>
