<header class="inner">
    <a id="forkme_banner" target="_blank" href="https://gitlab.com/gillesdegottex/dfasma/images/dfasma.png">View on GitLab</a>

    <h1 id="project_title">DFasma</h1>
    <h2 id="project_tagline">A tool to analyse and compare audio files in time and frequency</h2>

    <section id="home">
        <a class="menu_link" href="index.html">Home</a>
    </section>
    <section id="screenshots">
        <a class="menu_link" href="screenshots.html">Screenshots</a>
    </section>
    <section id="downloads">
        <a class="menu_link" href="downloads.html">Downloads</a>
    </section>
    <section id="doc">
        <a class="menu_link" href="doc.html">Documentation</a>
    </section>
</header>
